.kead-audio {
	display: flex;
	justify-content: flex-end;
	align-items: center;

	&__info {
		font-family: 'Noto Sans KR', sans-serif;
		margin-right: 1rem;
		font-size: 0.9rem;
		font-weight: 500;
	}

	&__btn {
		width: 96px;
		height: 96px;
		border-radius: 50%;
		overflow: hidden;
		background-color: var(--color-part2);
	}
}
