.post p {
	font-size: 1.25rem; /* 20px */

	@include atSmall {
		font-size: 1rem; /* 16px */
	}
}

.kead-h1 {
	font-size: 3rem; /* 48px */
	line-height: 4.4rem;

	@include atSmall {
		font-size: 2.25rem; /* 36px */
		line-height: 2.6rem;
	}
}

.kead-h2 {
	font-size: 2.5rem; /* 40px */
	line-height: 1;
	font-weight: 400;
	margin-top: 1rem;

	@include atSmall {
		font-size: 2rem; /* 32px */
	}
}

.kead-h4 {
	font-size: 1.75rem; /* 28px */

	@include atSmall {
		font-size: 1.5rem; /* 24px */
	}
}

.kead-h5 {
	font-size: 1.5rem; /* 24px */

	@include atSmall {
		font-size: 1.125rem; /* 18px */
	}
}

p.kead-caption {
	margin-top: -2.2rem;
	font-size: 0.875rem; /* 14px */

	@include atSmall {
		font-size: 0.75rem; /* 12px */
	}
}

.kead-intro {
	padding: 4rem 0;

	@include atSmall {
		padding: 2rem 0;
	}
}

.kead-sns > div {
	margin-bottom: 4rem;

	@include atSmall {
		margin-bottom: 2rem;
	}

	.btn {
		margin-top: 2rem;
		margin-left: auto;
		margin-right: auto;

		@include atSmall {
			margin-top: 1rem;
		}
	}
}

.bg-white {
	background-color: white;
	padding: 4rem;

	@include atMedium {
		padding: 2rem;
	}
}

.event-block {
	margin-top: 4rem;

	p,
	.btn {
		margin-top: 1rem;

		@include atSmall {
			margin-top: 0.5rem;
		}
	}
}

.event-detail {
	margin-top: 3rem;

	@include atSmall {
		margin-top: 1.5rem;
	}

	.kead-h5 {
		text-decoration: underline;
	}
}

.kead-interviewee {
	gap: 0;

	figure {
		margin: 0;
		height: 100%;

		img {
			height: 100%;
		}
	}

	.wp-block-lazyblock-kead-interview-box {
		height: 100%;
	}

	.interviewee-box {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background-color: var(--color-part1);
		padding: 4rem 0;

		@include atMedium {
			padding: 2rem 0;
		}

		@include atSmall {
			padding: 1rem 0;
		}

		&__mark {
			width: 4rem;

			@include atMedium {
				width: 3rem;
			}

			@include atSmall {
				width: 2rem;
				margin: 1rem;
			}
		}
	}
}
.job-interview {
	figure {
		margin: 0;
		height: 100%;

		img {
			height: 100%;
			object-fit: cover;
		}
	}

	.wp-block-lazyblock-job-interview {
		background-color: var(--color-part1);
		min-height: 100%;
		padding: 2rem;
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.job-interview-name {
			border-bottom: 1px solid #fff;
			margin-bottom: 1rem;
		}
	}
}
