h1.has-background,
h2.has-background,
h3.has-background,
h4.has-background,
h5.has-background,
h6.has-background {
	padding: 1.5rem 2rem;

	@include atSmall {
		padding: 0.7rem 1rem;
	}
}

.wp-block-lazyblock-kead-title {
	margin-bottom: 4rem;

	@include atSmall {
		margin-bottom: 2rem;
	}
}

.kead-space {
	padding-bottom: 2rem;

	@include atSmall {
		padding-bottom: 1rem;
	}
}

.bg-white {
	background-color: white;
	padding: 4rem;

	@include atMedium {
		padding: 2rem;
	}
}

.wp-block-columns {
	margin-bottom: 0;
}

.wp-block-image figcaption {
	text-align: center;
	font-size: 0.875rem; /* 14px */

	@include atSmall {
		font-size: 0.75rem; /* 12px */
	}
}

.wp-block-separator {
	border: none;
	border-top: 1px dashed #d7702b;
	margin: 4rem 0;

	@include atMedium {
		margin: 3rem 0;
	}

	@include atSmall {
		margin: 2rem 0;
	}
}

.wp-block-kead-separator {
	border: none;
	border-top: 1px dashed;
	margin: 4rem 0;

	@include atMedium {
		margin: 3rem 0;
	}

	@include atSmall {
		margin: 2rem 0;
	}
}

.single-post figure img {
	width: 100%;
}

.wp-block-image.caption-left figcaption {
	text-align: left;
}

.single-post .wp-block-image figcaption,
.wp-block-lazyblock-kead-caption {
	margin-top: 1rem;
	margin-bottom: 0;

	@include atSmall {
		margin-top: 0.5rem;
	}
}

// KEAD SNS
.kead-sns > div {
	margin-bottom: 4rem;

	figure img {
		height: 100%;
		object-fit: contain;
	}

	.btn {
		margin-top: 1rem;
		margin-left: auto;
		margin-right: auto;

		@include atSmall {
			margin-top: 0.2rem;
		}
	}
}

// 구독이벤트
.event-block {
	margin-top: 4rem;

	p,
	.btn {
		margin-top: 1rem;

		@include atSmall {
			margin-top: 0.5rem;
		}
	}
}

.event-detail {
	margin-top: 3rem;

	@include atSmall {
		margin-top: 1.5rem;
	}

	.kead-h5 {
		text-decoration: underline;
	}
}

// 공감 人스타
.kead-interviewee {
	gap: 0;

	.wp-block-lazyblock-kead-interview-box {
		height: 100%;
	}

	.interviewee-box {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 4rem 0;

		@include atMedium {
			padding: 2rem 0;
		}

		@include atSmall {
			padding: 1rem 0;
		}

		&__mark {
			width: 4rem;

			@include atMedium {
				width: 3rem;
			}

			@include atSmall {
				width: 2rem;
				margin: 1rem;
			}
		}

		&__quote {
			line-height: 1.4;
		}
	}
}

// 함께하는 일터
.wp-block-lazyblock-job-interview {
	min-height: 100%;
	padding: 2rem;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.job-interview-name {
		border-bottom: 1px solid #fff;
		margin-bottom: 1rem;
	}
}

// 우리는 KEAD
.wp-block-lazyblock-we-are-kead {
	height: 100%;
	padding: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #fff;

	.wak-name {
		border-bottom: 1px solid #fff;
		margin-bottom: 0.5rem;
	}
}

.wp-block-lazyblock-title-with-icon {
	display: flex;
	align-items: center;
	.icon {
		width: 3rem;
		height: 3rem;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left center;
		margin-right: 1rem;
	}
}

.wp-block-lazyblock-kead-tag {
	background-color: #fff;
	padding: 4rem;
}
