.main-page {
	.banner {
		height: calc(var(--vh, 1vh) * 100);
		background-size: cover;
		background-position: center 30%;
		position: relative;
		display: flex;
		align-items: center;

		.kead-webzine-logo {
			position: absolute;
			top: 3rem;
			left: 3rem;

			@include atMedium {
				top: calc(var(--layout-margin) * 2);
				left: var(--layout-margin);
			}
		}

		.cover-story {
			width: 100%;
			margin-bottom: 10%;

			@include atMedium {
				margin-bottom: 40%;
			}

			@include atSmall {
				margin-bottom: 65%;
			}

			& > h1 {
				font-size: 4rem;

				@include atMedium {
					font-size: 2.4rem;
				}

				@include atSmall {
					font-size: 1.8rem;
				}
			}

			&--desktop {
				display: block;

				@include atMedium {
					display: none;
				}
			}

			&--mobile {
				display: none;
				@include atMedium {
					display: block;
				}
			}
		}
	}

	.main-links {
		ul {
			display: flex;
			justify-content: space-between;
			padding: 0 3rem;

			@include atLarge {
				padding: 0;
			}

			@include atSmall {
				flex-direction: column;
				align-items: center;

				& > li {
					margin-bottom: 1rem;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			li {
				max-width: 33%;

				@include atSmall {
					max-width: 100%;
				}
			}
		}
	}

	.article {
		&__title {
			display: flex;
			align-items: center;
			gap: 1rem;
		}

		&__contents {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr;
			gap: 2rem;

			@include atMedium {
				grid-template-columns: 1fr 1fr;
			}

			@include atSmall {
				grid-template-columns: 1fr;
			}

			& > a {
				grid-row: span 2;
				border-radius: 2rem;
				overflow: hidden;
			}

			.post__thumbnail {
				position: relative;

				// &::after {
				// 	content: '';
				// 	display: block;
				// 	width: 3rem;
				// 	height: 3rem;
				// 	border-radius: 50%;
				// 	position: absolute;
				// 	bottom: 1rem;
				// 	right: 1rem;
				// 	background-image: url('data:image/svg+xml,%3C%3Fxml version=%271.0%27 encoding=%27UTF-8%27%3F%3E%3Csvg id=%27Layer_1%27 xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 39.58 39.58%27%3E%3Cpath d=%27m18.22 10.48v18.64c0 .45.37.83.83.83.26 0 .71-.26.92-.42l7.22-5.32 4.36-.09c.46-.01.75-.37.75-.83v-7.1c0-.46-.38-.84-.84-.84h-4.33c-.94-.69-6.2-4.94-7.74-5.63-.53-.24-1.18.19-1.18.77m1.6 1.35c.1.07.2.14.29.2.74.52 1.47 1.06 2.19 1.61.79.6 1.58 1.21 2.37 1.82.5.39 1 .8 1.51 1.17.29.21.59.31.95.31h3.57v5.59l-3.54.08c-.34 0-.64.11-.92.31l-6.42 4.73v-15.81Z%27 style=%27fill:%23fff%3B%27/%3E%3Cpath d=%27m11 11.4c-2.78 2.5-3.63 5.5-3.71 8.13-.08 2.9 1.16 6.52 3.79 8.71.87.44 1.37-.73.98-1.1-2.49-2.42-3.2-5-3.23-7.32-.04-3.03 1.42-5.7 3.23-7.38.53-.73-.49-1.55-1.06-1.04%27 style=%27fill:%23fff%3B%27/%3E%3Cpath d=%27m13.07 13.72c-1.89 1.88-2.51 3.98-2.57 5.85-.07 2.01.72 4.5 2.47 6.34.69.73 1.92.06 1.25-.91-1.65-1.74-2.15-3.54-2.18-5.18-.03-2 .91-3.74 2.16-5.1.54-.85-.49-1.63-1.13-.99%27 style=%27fill:%23fff%3B%27/%3E%3Cpath d=%27m15.45 16.06c-1.23 1.14-1.56 2.6-1.59 3.63-.04 1.11.49 2.95 1.57 3.93.84.76 1.76-.21 1.31-.79-.95-1.01-1.33-2.05-1.35-3-.02-1.11.48-2.05 1.25-2.86.6-.63-.38-1.66-1.19-.91%27 style=%27fill:%23fff%3B%27/%3E%3Crect width=%2739.58%27 height=%2739.58%27 style=%27fill:none%3B%27/%3E%3C/svg%3E');
				// 	background-size: cover;
				// }
			}
		}

		&.part1 {
			.post__thumbnail::after,
			.post__category,
			.post__title {
				background-color: var(--color-part1);
			}

			.article__contents > a:first-child {
				grid-column: span 2;

				.post__thumbnail {
					aspect-ratio: 768 / 276;
				}

				@include atSmall {
					grid-column: span 1;

					.post__thumbnail {
						aspect-ratio: 4 / 3;
					}
				}
			}
		}

		&.part2 {
			.post__thumbnail::after,
			.post__category,
			.post__title {
				background-color: var(--color-part2);
			}
		}

		&.part3 {
			.post__thumbnail::after,
			.post__category,
			.post__title {
				background-color: var(--color-part3);
			}

			.article__contents a:nth-last-child(-n + 2) {
				grid-row: span 1;

				.post__thumbnail {
					aspect-ratio: 380 / 177;
				}
			}
		}

		&__event {
			display: flex;
			width: 100%;
			justify-content: space-between;

			@include atMedium {
				flex-direction: column;
			}

			&__text {
				flex: 1 1 60%;
				display: flex;
				flex-direction: column;

				h2 {
					color: #d22f4f;
					font-weight: 900;
				}

				.btn {
					background-color: var(--color-part2);
				}

				&__period {
					margin-top: auto;

					.t-underline {
						color: #dd5257;
					}
				}
			}

			&__image {
				flex: 1 1 40%;

				& > img {
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}

	.post {
		article {
			position: relative;
			color: #fff;
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		&__category {
			position: absolute;
			top: 1rem;
			left: 1rem;
			padding: 0 2rem;
			border-radius: 999em;
			z-index: 2;
		}

		&__thumbnail {
			width: 100%;
			aspect-ratio: 4 / 3;
			overflow: hidden;

			img {
				height: 100%;
				object-fit: cover;
			}
		}

		&__title {
			padding: 1rem;
			flex: 1;

			h2 {
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
		}
	}
}
