.main-page {
	.banner {
		height: calc(var(--vh, 1vh) * 100);
		background-size: cover;
		position: relative;
		display: flex;
		align-items: center;

		@include atMedium {
			height: calc(var(--vh, 1vh) * 100 - var(--header-height));
		}

		.kead-webzine-logo {
			position: absolute;
			top: 3rem;
			left: 3rem;

			@include atMedium {
				top: calc(var(--layout-margin) * 2);
				left: var(--layout-margin);
			}

			@include atSmall {
				top: var(--layout-margin);
			}
		}

		.cover-story {
			width: 100%;

			& > h1 {
				font-size: 4rem;

				@include atMedium {
					font-size: 2.4rem;
				}

				@include atSmall {
					font-size: 1.4rem;
				}
			}

			&--desktop {
				display: block;

				@include atMedium {
					display: none;
				}
			}

			&--mobile {
				display: none;
				@include atMedium {
					display: block;
				}
			}
		}
	}

	.main-links {
		ul {
			display: flex;
			justify-content: space-between;
			padding: 0 3rem;

			@include atLarge {
				padding: 0;
			}

			@include atSmall {
				flex-direction: column;
				align-items: center;

				& > li {
					margin-bottom: 1rem;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			li {
				max-width: 33%;

				@include atSmall {
					max-width: 100%;
				}
			}
		}
	}

	.article {
		&__title {
			display: flex;
			align-items: center;
			gap: 1rem;
		}

		&__contents {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr;
			gap: 2rem;

			@include atMedium {
				grid-template-columns: 1fr 1fr;
			}

			@include atSmall {
				grid-template-columns: 1fr;
			}

			& > li {
				grid-row: span 2;

				& > a {
					border-radius: 2rem;
					overflow: hidden;
				}
			}
		}

		&.part1 {
			.post__category,
			.post__title {
				background-color: var(--color-part1);
			}

			.article__contents > li:first-child {
				grid-column: span 2;

				.post__thumbnail {
					aspect-ratio: 768 / 276;
				}

				@include atSmall {
					grid-column: span 1;

					.post__thumbnail {
						aspect-ratio: 4 / 3;
					}
				}
			}
		}

		&.part2 {
			.post__category,
			.post__title {
				background-color: var(--color-part2);
			}
		}

		&.part3 {
			.post__category,
			.post__title {
				background-color: var(--color-part3);
			}

			.article__contents li:nth-last-child(-n + 2) {
				grid-row: span 1;

				.post__thumbnail {
					aspect-ratio: 380 / 177;
				}
			}
		}

		&__event {
			display: flex;
			width: 100%;
			justify-content: space-between;

			@include atMedium {
				flex-direction: column;
			}

			&__text {
				flex: 1 1 56%;
				display: flex;
				flex-direction: column;

				h2 {
					color: #d22f4f;
					font-weight: 900;
				}

				.btn {
					background-color: #3877b3;
				}

				&__period {
					margin-top: auto;

					.t-underline {
						color: #dd5257;
					}
				}
			}

			&__image {
				flex: 1 1 40%;

				& > img {
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}

	.post {
		position: relative;
		color: #fff;
		display: flex;
		flex-direction: column;
		height: 100%;

		&__category {
			position: absolute;
			top: 1rem;
			left: 1rem;
			padding: 0 2rem;
			border-radius: 999em;
			z-index: 2;
		}

		&__thumbnail {
			display: block;
			width: 100%;
			aspect-ratio: 4 / 3;
			overflow: hidden;

			img {
				height: 100%;
				object-fit: cover;
			}
		}

		&__title {
			padding: 1rem;
			flex: 1;

			span {
				line-height: 1.4;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
		}
	}
}
