.kead-webzine-logo {
	&__title {
		display: block;
		font-size: 14px;
		padding-left: 3px;
		font-weight: 500;

		@include atMedium {
			font-size: 12px;
		}

		@include atSmall {
			font-size: 8px;
		}
	}

	&__img {
		display: block;
		width: 260px;
		margin-top: 0.7rem;

		@include atMedium {
			width: 220px;
			margin-top: 0.7rem;
		}

		@include atSmall {
			width: 140px;
			margin-top: 0.6rem;
		}
	}
}

.part-logo {
	width: 84px;
	height: 84px;
	border-radius: 50%;
	overflow: hidden;
	background-size: cover;

	@include atMedium {
		width: 80px;
		height: 80px;
	}

	@include atSmall {
		width: 64px;
		height: 64px;
	}

	&--sm {
		width: 64px;
		height: 64px;

		@include atSmall {
			width: 48px;
			height: 48px;
		}
	}

	&--1 {
		background-color: var(--color-part1);
	}

	&--2 {
		background-color: var(--color-part2);
	}

	&--3 {
		background-color: var(--color-part3);
	}

	&--4 {
		background-color: var(--color-part4);
	}
}
