.container {
	width: 100%;
	max-width: var(--layout-max-width);
	padding-left: var(--layout-margin);
	padding-right: var(--layout-margin);
	margin-left: auto;
	margin-right: auto;
}

.serif {
	font-family: 'Noto Serif KR', serif;
}

.t-left {
	text-align: left;
}
.t-right {
	text-align: right;
}
.t-center {
	text-align: center;
}

.t-500 {
	font-weight: 500;
}

.t-bold {
	font-weight: bold;
}

.font-size-h1 {
	font-size: var(--step-5);
}

.font-size-h2 {
	font-size: var(--step-4);
}

.font-size-xl {
	font-size: var(--step-3);
}

.font-size-lg {
	font-size: var(--step-2);
}

.font-size-md {
	font-size: var(--step-1);
}

.font-size-base {
	font-size: var(--step-0);
}

.font-size-sm {
	font-size: var(--step--1);
}

.font-white {
	color: #fff;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	width: 1px;
	height: 1px;
	border: 0;
	overflow: hidden;
	display: block;
	position: absolute;
	white-space: nowrap;
}

.fix-position {
	position: fixed;
}

@include atMedium {
	.line-break {
		display: block;
	}
}

.p-top {
	padding-top: 4rem;
}
.p-top-large {
	padding-top: 8rem;
}
.p-bottom-large {
	padding-bottom: 1.6rem;
}

@include atSmall {
	.p-top-large {
		padding-top: 3.5rem;
	}
	.p-bottom-large {
		padding-bottom: 3.5rem;
	}
}

// .container:before,
// .container:after,
// .group:before,
// .group:after {
// 	content: ' ';
// 	display: table;
// }

// .container:after,
// .group:after {
// 	clear: both;
// }

// .hide {
// 	display: none;
// }

// .container--narrow {
// 	max-width: 960px;
// }

// .t-small {
// 	font-size: 0.85rem;
// }

// .push-right {
// 	margin-right: 20px;
// }
