$gray: #c3c4c7;
$darkBrown: #393431;
$red: #ff0000;

:root {
	--color-part1: #a1634d;
	--color-part2: #357997;
	--color-part3: #6c5992;
	--color-part4: #e48089;
	--color-bg: #fcf2e4;
	--header-height: 100px;
	--layout-margin: 1rem;
	--layout-max-width: 1200px;
}

:root {
	--wp--preset--color--color-part1: #a1634d;
	--wp--preset--color--color-part2: #357997;
	--wp--preset--color--color-part3: #6c5992;
	--wp--preset--color--color-part4: #e48089;
}

@include atXLarge {
	:root {
		--header-height: 90px;
	}
}

@include atLarge {
	:root {
		--header-height: 72px;
		--layout-margin: 3rem;
	}
}

@include atMedium {
	:root {
		--header-height: 63px;
		--layout-margin: 2rem;
	}
}

@include atSmall {
	:root {
		--layout-margin: 1rem;
	}
}

.january {
	--color-part1: #a1634d;
	--color-part2: #357997;
	--color-part3: #6c5992;
	--color-part4: #e48089;
	--color-bg: #fcf2e4;
}

.february {
	--color-part1: #7d4c37;
}

.march {
	--color-part1: #953c68;
}

.april {
	--color-part1: #2c7069;
}

.may {
	--color-part1: #093762;
}

.june {
	--color-part1: #125e78;
}

.july {
	--color-part1: #004509;
}

.august {
	--color-part1: #0859a8;
}

.september {
	--color-part1: #bf511d;
}

.has-color-part-1-background-color {
	background-color: var(--color-part1);
}

.has-color-part-1-color {
	color: var(--color-part1);
}

.has-color-part-1-border-color {
	color: var(--color-part1);
}

.has-color-part-2-background-color {
	background-color: var(--color-part2);
}

.has-color-part-2-color {
	color: var(--color-part2);
}

.has-color-part-2-border-color {
	color: var(--color-part2);
}

.has-color-part-3-background-color {
	background-color: var(--color-part3);
}

.has-color-part-3-color {
	color: var(--color-part3);
}

.has-color-part-3-border-color {
	color: var(--color-part3);
}

.has-color-part-4-background-color {
	background-color: var(--color-part4);
}

.has-color-part-4-color {
	color: var(--color-part4);
}

.has-color-part-4-border-color {
	color: var(--color-part4);
}
