.september {
	.banner {
		.kead-webzine-logo__title {
			color: #fff;
		}
	}

	.cover-story {
		margin-bottom: 10%;
		color: #fff;

		@include atMedium {
			margin-bottom: 40%;
		}

		@include atSmall {
			margin-bottom: 0%;
			position: absolute;
			top: 20%;
		}
	}
}
